body { 
    padding-top: 70px !important; 
}

.btn-link{
    border: none !important;
    color:#000;
}

.btn-link:hover{
    background-color: none !important;
    text-decoration: none !important;
    background: none !important;
}

input[name="product"] {
    display: block !important;
    width: 100% !important;
    padding: .375rem .75rem !important;
    font-size: 1 rem !important;
    border-radius: .25rem !important;
    border: 1px solid #ced4da !important;
}

/* Google Log-in button code snippet taken from  
https://www.w3schools.com/howto/howto_css_social_login.asp
*/