{% extends "invoice/layout.html" %}

{% block body %}
    
    <div class="container">

        <h2>Customer Details</h2>
        <br>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'edit_customer' cust_id %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                    <div>
                        {{ field.errors }}
                        {{ field }}
                        <br/>
                        {{ field.help_text }}
                    </div>
                </div>
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="Save">
        </form>
    </div>

{% endblock %}