{% extends "invoice/layout.html" %}
{% load socialaccount %}

{% block body %}

    <div class="container">

        <h2>Login</h2>
        <br>

        {% include 'invoice/message_snippet.html' %}
        
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" name="email" aria-describedby="emailHelp" placeholder="Enter email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Login">
            
            <!-- Google Log-in button code snippet taken from  
            https://www.w3schools.com/howto/howto_css_social_login.asp -->
            <br>
            <br>
            <a href="{% provider_login_url 'google' %}" class="btn btn-danger">
                <i class="fa fa-google"></i>    Sign in with <b>Google</b>
            </a>
        </form>
        <br>
        <span>Don't have an account? </span><a href="{% url 'register' %}">Register here.</a>
    </div>

{% endblock %}