{% extends "invoice/layout.html" %}

{% block body %}

    <div class="container">

        <h2>Register</h2>

        {% include 'invoice/message_snippet.html' %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstName" name="firstName" 
                        placeholder="First Name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastName" name="lastName" 
                        placeholder="Last Name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" 
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="password" class="form-control" id="inputPassword" name="password" 
                            placeholder="Password", 
                            title = "Your password can’t be too similar to your other personal information and 
                            Your password can't be a commonly used password.">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-eye" id ="togglePassword"></i>   
                            </span>
                        </div>
                    </div>
                    <br>
                    <!-- Front end password chekcing.
                    Code snippet taken from 
                    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_password_val -->
                    <div id="pwdMsg">
                        <h6>Password must contain the following:</h6>
                        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                        <p id="number" class="invalid">A <b>number</b></p>
                        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                        <p id="special" class="invalid">A <b>Speical <i>!@#$%^&*()</i> character</b></p>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword2" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="password" class="form-control" id="inputPassword2" name="confirmation" 
                            placeholder="Confirm Password">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-eye" id ="togglePassword2"></i>   
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
        <br>
        <span>Already have an acccount? <a href="{% url 'login' %}">Log In here.</a></span>
    </div>

{% endblock %}